modules = ["nodejs-20"]
run = "cd backend && npm install && npm run build && node dist/server.js"

[nix]
channel = "stable-24_05"

[deployment]
run = "cd backend && npm install && npm run build && node dist/server.js"

[[ports]]
localPort = 4000
externalPort = 80

[[ports]]
localPort = 4001
externalPort = 3000

[workflows]
runButton = "Build and Run"

[[workflows.workflow]]
name = "Frontend Dev"
author = 43523431
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd frontend && npm install && npm start"

[[workflows.workflow]]
name = "Full Stack Dev"
author = 43523431
mode = "parallel"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd backend && npm install && npm run build && npm start"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd frontend && npm install && npm start"

[[workflows.workflow]]
name = "Build and Run"
author = 43523431
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd frontend && npm install && npm run build"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd backend && npm install && npm run build && npm start"
